@font-face {
   font-family: catalunya;
   src: url("catalunya.tff");
}

body {
  background-image: url("food.jpg");
  font-family: catalunya;
}

h1 {
  background-color: blue;
  margin-left: 20px;
}
