@font-face {
   font-family: catalunya;
   src: url(catalunya.tff);
}
* {
   font-family: catalunya;
}

body {
  background-image: url("food.jpg");
}

h1 {
  background-color: blue;
  margin-left: 20px;
}
