@font-face {
font-family: catalunya;
src: url(catalunya.tff);
}

body {
  background-image: url("food.jpg");
}

h1 {
  background-color: pink;
  margin-left: 20px;
  font-family: catalunya;
}

h2 {
  font-family: catalunya;
}
